body{
	background-color	:	rgb(31,3,33);
	padding				:	0px;
	margin				:	0px;
	width				:	100%;
	height				:	100%;
	overflow			:	none;
}
#canvv{
	padding 			: 	0px;
	margin  			: 	0px;
	position 			:	fixed;
	overflow			: 	none;
}
#addy{
	position			:	fixed;
	padding				:	0px;
	margin				:	0px;
	top					:	0px;
	width				:	100%;
	height				:	50px;
	background-color	:	black;
	font-size			:	20px;
	overflow			:	none;
}